 .console {
      position: absolute;
      top: 10px;
      left: 10px;
    }

    main {
      border-top-width: 1px;
      height: 80%;
      padding: 0;
      background-color: rgb(185, 204, 234);
    }

    html,
    body {
      position: relative;
      width: 100vw;
      overflow-x: hidden !important;
      font-family: Garamond;
      color: #555;
    }

    .carousel-item video {
      max-height: 80vh;
      object-fit: cover;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      filter: invert(1);
    }

    .carousel {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .carousel-indicators [data-bs-target] {
      background-color: #007bff;
    }

    .carousel-item {
      transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    }

    div.footer {
      font-size: 14px;
      position: unset;
    }

    .sin-puntos {
      padding-bottom: 25px;
      list-style: none;
    }
